.main-stage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;   
}
.main-stage > .-stage{
  margin-top: var(--gap-smaller);
}
.main-stage > .primary-button{
  margin-top: var(--gap-big);
  display: inline-block;
  width: 180px;
  text-align: center;
  height: 28px;
  line-height: 28px;
}